<div class="col-sm-4 col-xs-12">
    <figure style="background: transparent; box-shadow:none;">
        <div class="img-wrapper">
            <img ng-src="{{image}}" class="img-responsive" alt="this is a title" style="max-width: 150px; max-height: 100px; min-height: 100px;">
        </div>
        <figcaption style="padding-left: 0px;">
            <h4>
                {{companyName}}
            </h4>
            <p>
                {{functionName}}
            </p>
        </figcaption>
    </figure>
</div>